version: "3.9"

services:
  db:
    image: postgres:16
    container_name: diving-db
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    ports:
      - "${POSTGRES_PORT}:5432"
    volumes:
      - db-data:/var/lib/postgresql/data

  backend:
    build:
      context: ./backend
      target: dev
    container_name: diving-api
    environment:
      API_PORT: ${API_PORT}
    ports:
      - "${API_PORT}:3001"
    volumes:
      - ./backend:/usr/src/app
      - /usr/src/app/node_modules
    depends_on:
      - db

  frontend:
    build:
      context: ./frontend
      target: dev
    container_name: diving-web
    environment:
      FRONT_PORT: ${FRONT_PORT}
    ports:
      - "${FRONT_PORT}:3000"
    volumes:
      - ./frontend:/usr/src/app
      - /usr/src/app/node_modules
    depends_on:
      - backend

volumes:
  db-data:
