name: Docker Image CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v4
    
    - name: Login to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}
    
    - name: Build and push Backend
      run: |
        docker build --target prod -t minifrizz/diving-club-backend:latest ./app/backend
        docker push minifrizz/diving-club-backend:latest
    
    - name: Build and push Frontend
      run: |
        docker build --target prod -t minifrizz/diving-club-frontend:latest ./app/frontend
        docker push minifrizz/diving-club-frontend:latest
